<div class="BoxFilters">
      <mat-form-field>
        <mat-label>Categorías</mat-label>
        <mat-select [formControl]="categoriesSelected" multiple>
          <mat-option *ngFor="let category of categories" [value]="category">{{category}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Precio mínimo</mat-label>
        <input type="number" matInput placeholder="Ex. 1234" [(ngModel)]="filters.minPrice">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Precio máximo</mat-label>
        <input type="number" matInput placeholder="Ex. 1234" [(ngModel)]="filters.maxPrice">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Ex. producto1" [(ngModel)]="filters.name">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Sku</mat-label>
        <input matInput placeholder="Ex. REF32" [(ngModel)]="filters.sku">
      </mat-form-field>

      <button (click)="getDataFilter()" mat-raised-button class="BtnStyle">Filtrar</button>
      <button (click)="cleanFilters()" mat-raised-button class="BtnStyle" >Limpiar filtros</button>
  </div>
