.BoxFilters{
  margin-top: 20px;
  display: grid;
  gap: 10px;
  align-items: center;
  grid-template-columns: 16% 16% 16% 16% 16% 8% 8% ;
}
.BtnStyle {
  background-color: #5a1dfc !important;
  color: white !important;
}
